.about {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.78) -11.16%,
    #f3be00 16.6%
  );
  min-height: 100vh;
}

.nav {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.nav-headings {
  ul {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.about-sec {
  font-family: "Pacifico", cursive;
  margin: auto;
  width: 60%;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  h2 {
    z-index: 2;
  }
  p {
    z-index: 2;
    padding-top: 40px;
    font-size: 32px;
  }
}

.about-star {
  position: absolute;
  top: 25%;
  right: 8%;
}
